@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* border: 3px solid rgba(255, 255, 255, .3); */
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spinner 1s ease-in-out infinite alternate;
    transition: all .35s ease-in-out;
}

*::-webkit-scrollbar {
    /* width: 10px; */
    border-radius: 20rem;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid slategrey; */
    border-radius: 2rem;
    scrollbar-width: thin;
}

@keyframes spinner {
    0% {
        background-color: white;
        opacity: .1;
    }
    100% {
        background-color: white;
        opacity: .9;
    }
}